[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
yfinance = "*"
backtrader = "*"
plotly = "*"
numpy = "*"
sklearn = "*"
dash = "*"
scikit-learn = "*"
tensorflow = "*"
keras = "*"
pandas = "*"

[dev-packages]

[requires]
python_version = "3.11"
python_full_version = "3.11.5"
