.custom-button-add {
    background-color: #28a745; /* A nice shade of green */
    color: white;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    font-size: 16px;
    text-align: center;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.custom-button-add:hover {
    background-color: #218838; /* A darker shade for hover state */
}

.custom-button-remove {
    background-color: #dc3545; /* A nice shade of red */
    color: white;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    font-size: 16px;
    text-align: center;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.custom-button-remove:hover {
    background-color: #c82333; /* A darker shade for hover state */
}

.custom-button-display {
    background-color: #17a2b8; /* A nice shade of blue */
    color: white;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    font-size: 16px;
    text-align: center;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.custom-button-display:hover {
    background-color: #138496; /* A darker shade for hover state */
}

.custom-button-info {
    background-color: #286aa7; /* A nice shade of blue */
    color: white;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    font-size: 16px;
    text-align: center;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.custom-button-info:hover {
    background-color: #1f5281; /* A darker shade for hover state */
}